* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

/* TÍTULO CADASTRO */
.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

/* FORMULÁRIO */
form {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #475569;
  background: #0f172a;
  color: white;
  margin-bottom: 15px;
}

textarea {
  min-height: 100px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

/* TÍTULO LISTA */
.list-title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 22px;
}

/* LISTA DE FILMES */
.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* CARD */
.card {
  width: 220px;
  background: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 6px;
  line-height: 1.4;
}